.ProductDetail {
    padding: 6rem;
    display: flex;
    flex-direction: column;
}
.ProductDetail .wrap-top-- {
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding: 4rem;


}
.ProductDetail .wrap-top .wrap-top-left .avatar {
    width: 5rem;
}
.ProductDetail .wrap-top .wrap-top-left .name {
    margin: 0;

}
.ProductDetail .wrap-top .wrap-top-left {
    display: flex;
    gap: 2rem;
    justify-content: top;
}
.ProductDetail .wrap-top .wrap-top-left .username {
    text-align: left;
    font-size: 12px;
}
.ProductDetail .wrap-top .wrap-top-right {
    display: flex;
    gap: 3rem;
}
.ProductDetail .wrap-top .wrap-top-right .wrap-top-right-left {
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.ProductDetail .wrap-top .wrap-top-right .wrap-top-right-left * {
    text-align: right;
    margin: 0;

}
.ProductDetail .wrap-top .wrap-top-right .wrap-top-right-right {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
}
.ProductDetail .wrap-top .wrap-top-right .wrap-top-right-right input {
    font-size: 1rem;
    padding: 4px;
}
.ProductDetail .wrap-bottom .wrap-btn {
    display: flex;
    gap: 8rem;
    justify-content: center;
    margin-top: 2rem;
}
.ProductDetail .wrap-bottom .wrap-btn * {
    padding: 1rem 2rem;
    font-size: 1rem;;
    border: 0;
}
.ProductDetail .wrap-bottom .wrap-btn .btn-ban {
    color: white;
    background-color: rgb(255, 77, 77);
}
.ProductDetail .wrap-bottom .wrap-btn .btn-delete {
    background-color: red;
    color: white
}
.ProductDetail .wrap-bottom .wrap-btn .btn-update {
    color: white;
    background-color: rgb(59, 59, 255);
}